.header {
  padding: 15px 0;
  background-color: var(--light-bg);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .phone-icon {
    color: var(--primary-color);
    width: 24px;
    height: 24px;
  }
}

