.header {
  padding: 0.5rem 16rem;
  background-color: #fff;
  box-shadow: 4px 4px 14px 0px #0000000f;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
