.features-section {
  margin: 4rem 0;
  .container {
    padding: 0 6rem;
    margin: 0 auto;
    width: 82%;

    .section-title {
      margin: 0;
      margin-bottom: 2.5rem;
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      letter-spacing: 0.3px;
    }
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 0 1rem;

    .container {
      padding: 0;
      margin: 0;
      width: 100%;

      .section-title {
        font-weight: 700;
        font-size: 24px;

        margin: 2rem 0 1rem;
      }
    }
  }
}
