.footer {
  background: #222e34;
  margin-top: 2rem;

  p {
    text-align: center;
    padding: 1rem 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #dddddd;
    margin: 0;
  }
}
