.spaces-section {
  padding: 0 6rem;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    gap: 3rem;


   .card {
      height: 100px;
      background-color: red;
    }
  }
}

